<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jiacheng Dong - Personal Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MyWebsite.css') }}">
    <script src="{{ url_for('static', filename='js/MyWebsite.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#cover">Home</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="cover" class="section">
        <h1>Jiacheng Dong</h1>
        <p>Web Developer & Designer</p>
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Your Name" class="profile-image">
        <div class="scroll-indicator">
            <p>Scroll to explore</p>
            <i class="fas fa-chevron-down"></i>
        </div>
    </section>

    <section id="skills" class="section">
        <h2>Skills</h2>
        <div class="skills-grid">
            <div class="skill-item">
                <img src="{{ url_for('static', filename='images/html5.jpg') }}" alt="HTML5">
                <p>HTML5</p>
            </div>
            <div class="skill-item">
                <img src="{{ url_for('static', filename='images/css3.jpg') }}" alt="CSS3">
                <p>CSS3</p>
            </div>
            <div class="skill-item">
                <img src="{{ url_for('static', filename='images/javascript.jpg') }}" alt="JavaScript">
                <p>JavaScript</p>
            </div>
<!--            <div class="skill-item">-->
<!--                <img src="{{ url_for('static', filename='images/react.jpg') }}" alt="React">-->
<!--                <p>React</p>-->
<!--            </div>-->
        </div>
    </section>

    <section id="experience" class="section">
        <h2>Work Experience</h2>
        <div class="experience-item">
            <h3>Human-Centered Affective Computing and Interaction Laboratory</h3>
            <p class="date">2022.9.1 - 2024.6.1</p>
            <ul>
                <li><strong>Multimodal Real-Time Emotion Analysis System</strong>
                    <ul>
                        <li>Collaborated in implementing a system integrating EEG, image, and audio data; filed a patent and worked on commercialization.</li>
                    </ul>
                </li>
                <li><strong>Traditional Chinese Medicine Information Website</strong>
                    <ul>
                        <li>Participated in the design and development of a management website for Traditional Chinese Medicine information.</li>
                    </ul>
                </li>
                <li><strong>EEG-Based Emotion Analysis System</strong>
                    <ul>
                        <li>Contributed to developing a system for understanding emotional states based on EEG.</li>
                    </ul>
                </li>
                <li><strong>Psychological Counseling System</strong>
                    <ul>
                        <li>Involved in creating a system using face and voice modification algorithms to enhance therapeutic interactions.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>



    <section id="education" class="section">
        <h2>Education</h2>

        <div class="education-item">
            <h3>Bachelor of Software Engineering</h3>
            <p class="date">University of Technology, Sydney, 2024.8.1 - 2024.9.2</p>
            <p>Relevant Courses: Software Engineering, Reinforcement Learning</p>
        </div>

        <div class="education-item">
            <h3>Bachelor of Computer Science and Technology</h3>
            <p class="date">Northeastern University, China, 2022.9.1 - 2024.6.1</p>
            <p>Relevant Courses: Deep Learning, Programming Languages, Front-End and Back-End Development, Web Development</p>
        </div>
    </section>

    <section id="contact" class="section">
        <h2>Contact</h2>
        <div class="contact-item">
            <p><strong>Phone Number:</strong> +61 468948977</p>
            <p><strong>Email:</strong> <a href="mailto:djctionary@gmail.com">djctionary@gmail.com</a></p>
        </div>
    </section>


    <div id="music-player" class="collapsed">
        <div class="music-player-toggle">
            <i class="fas fa-music"></i>
        </div>
        <div class="music-player-content">
            <div class="music-info">
                <img id="album-cover" src="{{ url_for('static', filename='images/cover1.jpg') }}" alt="Album cover">
                <div>
                    <h3 id="song-title">Song Title</h3>
                    <p id="song-artist">Artist Name</p>
                </div>
            </div>
            <div class="music-controls">
                <button id="play-pause-btn"><i class="fas fa-play"></i></button>
                <button id="next-btn"><i class="fas fa-forward"></i></button>
                <div class="volume-control">
                    <i class="fas fa-volume-up"></i>
                    <input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">
                </div>
            </div>
            <select id="playlist">
                <option value="../static/music/Bones.mp3" data-artist="Low Roar">Bones</option>
                <option value="../static/music/Death Stranding.mp3" data-artist="こじま ひでお">Death Stranding</option>
                <option value="../static/music/Wake Up, Get Up, Get Out There.mp3" data-artist="Lyn">Wake Up, Get Up, Get Out There</option>
                <option value="../static/music/Don't Be So Serious.mp3" data-artist="Low Roar">Don't Be So Serious</option>
                <option value="../static/music/MyGO.mp3" data-artist="长崎素世">MyGO</option>
            </select>
            <canvas id="visualizer"></canvas>
        </div>
    </div>

    <audio id="audio-player"></audio>


</body>
</html>